#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/usr/local/eclipse-<%= node['eclipse']['version']%>/icon.xpm
Name[en_US]=Eclipse
Exec=eclipse
Name=Eclipse
Icon=/usr/local/eclipse-<%= node['eclipse']['version']%>/icon.xpm